body {
	font-family: "Style Script", cursive;
	font-size: 20px;
	padding: 3px;
}

a {
	color: rgb(131, 44, 148);
}

.name {
	margin: 0;
}

.list {
	margin: 0;
}

.page-image {
	display: block;
}

/** Codewars page style */
.codewars-wrapper {
	margin-bottom: 10px;
}

.codewars-title {
	font-size: 30px;
	margin: 0;
}

.codewars-subtitle {
	font-size: 20px;
	margin: 0;
}

.codewars-text {
	margin: 0;
}
